### Java & Gradle ###
/build/
/.gradle/
/out/
/bin/

# Gradle Wrapper
!/gradle/wrapper/gradle-wrapper.jar

### IDEs ###
# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Eclipse / STS
*.classpath
*.project
*.settings/
.apt_generated/
.factorypath/
.sts4-cache/
.springBeans/

# VSCode
.vscode/

### Logs & Env ###
*.log
*.env
*.properties
application.properties

### OS/기타 ###
.DS_Store
Thumbs.db